.category {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01);
  cursor: pointer;
  border-radius: 6px;
}

.category__title {
  font-size: 13px;
  letter-spacing: 0.075em;
  font-weight: 800;
  color: #1f1c31;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.category img {
  width: 100%;
}
