.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  background-color: #fff;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
  }
}
